@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";
@import "./layouts/forms";
@import "./layouts/header";
@import "./base/standards";
@import "./pages/operation";
@import "./pages/eatery";
@import "./components/buttons";
@import "./layouts/footer";

.menu-image{
    object-fit: cover;
    height:275px ;
    width: 100%;
}
.menu{
    border-radius: 40px 40px 0px 0px;
    position: relative;
    top:- 40px;
    margin-bottom:-40px;
    padding:32px 13px 40px 13px;
    background-color:$lighter-bg;
    height: auto;
    &_leading{
        font-family: 'Shrikhand';
        font-size:$font-size + 12px;
        margin: 0;
        padding-left:4px;
        display: inline-block; 
    }
    &_heart{
        @include heart;
        top:40px ;
        right:41px ;
    }
    &_flex{
        @include flex-direction;
        gap:12px ;
    }
    &_part{
        font-weight: 300;
        font-size:$font-size;
        text-transform: uppercase;
        padding-bottom:6px;
        margin-bottom:0;
        &--border{
            border-bottom:3px solid $tertiary;
            width: 40px;
        }
    }    
    &_btn{
        background: #FFFFFF;
        padding:12px 13.5px 12px 15px;
        @include box-shadow($color:rgba(0, 0, 0, 0.1));
        border-radius: 15px;

        &--police{
            font-weight: 500;
            font-size: $font-size + 2px;
            margin:0;
        }
        &--direction{
            @include flex-direction($direction:row,$justify-content:space-between );
            font-weight: 300;
            font-size: 15px;
            padding-top: 5px;
            & > *{
                margin: 0;
            }
        }   
        &--fontweight{
            font-weight: 700;      
        }
        
    }
       
}













