.submit{
    @include box-shadow($blur:toRem(10) ,$color:rgba(0, 0, 0, 0.25) );
    border-radius:toRem(25);
    width:toRem(218);
    height:toRem(50);
    color: $white;
    background: $submit-color;  
    cursor: pointer;
    &:hover{
    background:$submit-color-hover;
    @include box-shadow($color:rgba(0, 0, 0, 0.35))
    } 
} 
    
.operation_btn{
    @include box-shadow($color:rgba(0, 0, 0, 0.15));
    @include flex-direction($direction:row, $align-i:center);
	@include list($padding:toRem(28) 0 toRem(28) toRem(13), $margin:0 0 0 toRem(10));
    position: relative;
    border-radius: toRem(20);
    background:$lighter-bg;
	counter-increment: selection;
    gap:10%;
    width:98.5%;
    cursor: pointer;
    & >i{
        padding-left:5% ;
        color:$dark-bg;   
    }          
    &::before {
        content: counter(selection); 
        padding:toRem(4) toRem(8) ;
        margin-right: toRem(8);
        background:$primary; 
        border-radius:toRem(50);
        font-size:toRem(14);
        color :$white;
        position: absolute;
        left:toRem(-10);		
    }
    &:hover{
        background:$filters-hover ;
        & >i{
            color: $primary;
        }
    }
}    
