.submit{
    @include box-shadow($blur:10px ,$color:rgba(0, 0, 0, 0.25) );
    border-radius: 25px;
    padding:13px 16px ;
    color: white;
    background: $buttongradient;  
    cursor: pointer; 
    } 
    
.operation_btn{
    position: relative;
    @include box-shadow($color:rgba(0, 0, 0, 0.15));
    border-radius: 20px;
    background:$lighter-bg;
    &:hover{
        background:$filters-hover ;
        & >i{
            color: $primary;
        }
    }
}    

.btn-new{
    position:absolute;
    right:3%;
    top: 5%;
    z-index: 1;
    display: inline-block;
    background:$tertiary ;
    color:$dark-tertiary;
    padding:7px 9px 6px 9px;
    border-radius: 2px;
    @include box-shadow($offset-y:2px , $blur:4px ,$font:$font-size - 2px);   
}