
.dish_card{
    background:$white;
    @include box-shadow($color:rgba(0, 0, 0, 0.1));
    border-radius: toRem(15);
    position: relative;
    cursor: pointer;
    height: toRem(69);
    overflow: hidden;
    @include flex-direction($direction:null ,$justify-c:space-between);
    @include progress;
    &:hover{
        & .dish_check{
           margin-right: 0; 
        }
        & .dish_entitled--font-w{
           margin-right:toRem(59);
        }
    }
} 




.dish_entitled{
    padding:toRem(12) 0 toRem(12) toRem(12);
    font-weight: 300;
    font-size:toRem(15);
    overflow: hidden;
    & > *{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--font-w-s{
        font-weight: 500;
        font-size: toRem(18); 
        padding-bottom: toRem(5);

    }   
    &--font-w{
        font-weight: 700;
        @include flex-direction($direction:null ,$align-i:flex-end);
        padding:toRem(16);
        @include trans;
    }
} 

