.dish_title{
    background:$white;
    padding-left:15px ;
    padding-right: 13.5px ;
    @include box-shadow($color:rgba(0, 0, 0, 0.1));
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    height: 69px;
    overflow: hidden;
    &:hover{
        & .dish_title--fontweight{
            transform: translateX(-74px);  
        }
        & .dish_check{
            transform: translateX(0);   
        }
    }
    &--police{
        font-weight: 500;
        font-size: $font-size + 2px;
        padding-top:12px;   
    }
    &--police , p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--direction{
        @include flex-direction($direction:row,$justify-content:space-between );
        font-weight: 300;
        font-size: 15px;
        padding-top: 5px;
    }   
    &--fontweight{
        font-weight: 700;
        padding-left:20px ;
        @include slide;
    }       
}            


