.dish_check{
    @include flex-direction ($justify-c:center,$align-i:center);
    @include trans;
    background: $tertiary;
    border-radius: 0 toRem(15) toRem(15) 0;
    height:100%;
    width: toRem(59);
    position: absolute;
    right:0;
    margin-bottom:toRem(-81);
    margin-right:toRem(-59);
    &--icon{
        border-radius:50%;
        color:$tertiary;
        padding: toRem(2) toRem(3);
        background-color:$white;    
    }                   
}   
