.card {
    background:$white;
    @include box-shadow($color:rgba(0, 0, 0, 0.1));
    height:toRem(251) ;
    border-radius: toRem(15);
    position: relative;
    & img {
        border-radius: toRem(15) toRem(15) 0 0 ;
        @include img ;
    }
    &_content{
        padding:toRem(10) toRem(25) toRem(10) toRem(10);
    } 
    &_byline{
        font-weight: 300;
        font-size:toRem(17);
    }
    
}
