.card {
    background:$white;
    @include box-shadow($color:rgba(0, 0, 0, 0.1));
    transition: 0.3s;
    height:251px ;
    border-radius: 15px;
    position: relative;
    & img {
        border-radius: 15px 15px 0 0 ;
        @include img ;
    }
    &_content{
        padding:10px 25px 10px 10px;
    } 
    &_byline{
        font-weight: 300;
        font-size:$font-size + 1px;
    }
    
}
