.label-new{
    position:absolute;
    right:3%;
    top: 5%;
    z-index: 1;
    display: inline-block;
    background:$tertiary ;
    color:$dark-tertiary;
    padding:toRem(7) toRem(9) toRem(6) toRem(9);
    border-radius:toRem(2);
    @include box-shadow($offset-y:toRem(2) , $blur:toRem(4) ,$font:toRem(14));   
}