.label-new{
    position:absolute;
    right:3%;
    top: 5%;
    z-index: 1;
    display: inline-block;
    background:$tertiary ;
    color:$dark-tertiary;
    padding:7px 9px 6px 9px;
    border-radius: 2px;
    @include box-shadow($offset-y:2px , $blur:4px ,$font:$font-size - 2px);   
}