.like{
    @include flex-direction ($direction:row ,$justify-c:space-between, $align-i:center);
    &--desktop{
        @include desktop{
            @include flex-direction ($direction:row ,$justify-c:center, $align-i:center);
            gap:toRem(24);
        }
    }   
}
.heart{
    position: relative;
    &_empty , &_solid{
        @include trans;
        cursor: pointer;
        font-size:toRem(21) ;
    }    
    &_empty{
        padding-right:toRem(27);
        &--padding{
            padding-right:0 ;
        }   
    }
    &_solid{
        &--right{
            right: toRem(25);    
        }
        position:absolute;
        right:toRem(27);
        opacity:0;
        background:$submit-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        &:hover{
            opacity:1 ;    
        }           
    }
}