.wrapper-loader{
  background:$light-bg;
  width:100%;
  height:100%;
  z-index:3;
  position: fixed;
  @include flex-direction($justify-c:center,$align-i:center);
  animation:scale  100ms 3s ease-out forwards;
  .loader{
        @include box-shadow($blur:20px ,$color:rgba(0, 0, 0, 0.35));
        width: 350px;
        height: 350px;
        border:28px dotted;
        border-top-color: $primary;
        border-bottom-color: $secondary ;
        border-left-color: $light-primary;
        border-right-color: $light-secondary;
        border-radius: 50%;
        margin: auto;
        background:$lighter-bg;
        @include flex-direction($justify-c:center, $align-i:center);
        animation: rotate 3s ease-in-out both ;
        @include desktop{
            border-width:29px;
            width: 500px;
            height: 500px;
        }
        &_circle{
            width: 70%;
            height: 70%;
            border-radius:50%;
            border:2px solid $light-bg;
            @include desktop{
                border-width:3px;
            }
        }
    }
}
.font{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    @include desktop{
        width: 400px;
    }   
    @for $i from 1 through 9 {
        & path:nth-child(#{$i}){
            stroke-dasharray: 200px;
            stroke-dashoffset:200px;
            fill-opacity:0 ;
            animation:anim 2.8s ease-in-out both;
        } 
    }
}

