* {
  font-family: "Roboto";
}

.form {
  background: #d2d2d2;
  padding-bottom: 57px;
  text-align: center;
}
.form_field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #353535;
  background: #eaeaea;
  width: 100%;
}
.form_field-search {
  font-size: 16px;
  border: none;
  padding: 13px 0px 13px 0px;
  outline: none;
  background: fixed;
  text-align: center;
}
.form_heading {
  font-size: 24px;
  padding-top: 25px;
}
.form_byline {
  font-weight: 300;
  font-size: 18px;
}

.header {
  padding-top: 14px;
  padding-bottom: 5px;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 16px;
}
.header .header_heading {
  display: inline-flex;
  width: 162px;
  height: 44px;
}

.body {
  margin: 0;
  padding: 0;
  max-width: 768px;
  display: flex;
  flex-direction: column;
}

.operation {
  padding: 48px 20px 68px 20px;
  height: 440px;
}
.operation .operation_heading {
  margin: 0;
}
.operation .operation_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  padding: 0;
}
.operation .operation_list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  counter-increment: selection;
  margin-left: 10px;
  gap: 10%;
}
.operation .operation_list > li::before {
  content: counter(selection);
  padding: 4px 8px;
  margin-right: 8px;
  background: #9356dc;
  border-radius: 50px;
  font-size: 16px -2px;
  color: white;
  position: absolute;
  left: 3%;
}
.operation .operation_btn > i {
  padding-left: 5%;
  color: #7e7e7e;
}

.eatery {
  padding: 54px 20px;
  background: #d2d2d2;
  display: flex;
  flex-direction: column;
}
.eatery_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.eatery_title {
  margin-top: 0;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 16px;
  transition: 0.3s;
  height: 251px;
  border-radius: 15px;
  position: relative;
}
.card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 70%;
}
.card_content > * {
  margin: 0;
}
.card_content {
  position: relative;
  padding: 10px;
}
.card_byline {
  font-weight: 300;
  font-size: 17px;
}
.card_heart {
  font-size: 21px;
  position: absolute;
  top: 40%;
  right: 8%;
}
.card_heart:hover {
  font-weight: 900;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.submit {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 13px 16px;
  color: white;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
}

.operation_btn {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 16px;
  border-radius: 20px;
  padding: 28px 0px 28px 13px;
  background: #f7f7f7;
}

.btn-new {
  position: absolute;
  right: 3%;
  top: 5%;
  z-index: 1;
  display: inline-block;
  background: #99e2d0;
  color: #008766;
  padding: 7px 9px 6px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
