@charset "UTF-8";
* {
  font-family: "Roboto";
}

.form {
  background: #d1d1d1;
  padding-bottom: 57px;
  text-align: center;
}
.form_field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #363636;
  background: #ebebeb;
  width: 100%;
}
.form_field-search {
  font-size: 16px;
  border: none;
  padding: 13px 0px 13px 0px;
  outline: none;
  background: fixed;
  text-align: center;
}
.form_heading {
  font-size: 24px;
  padding: 39.5px 39.5px 10px;
}
.form_byline {
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 27px;
}

.form_submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}
.form_submit .submit_size {
  width: 45%;
}

.header {
  padding-top: 14px;
  padding-bottom: 5px;
  text-align: center;
  z-index: 1;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 16px;
}
.header_arrow {
  position: absolute;
  left: 23px;
  top: 24px;
}
.header_heading {
  display: inline-flex;
  width: 162px;
  height: 44px;
}

*,
::after,
::before {
  /*réinitialiation des marges et padding*/
  padding: 0;
  margin: 0;
  /* inclu tes border dans la taille des box*/
  box-sizing: border-box;
}

.body {
  max-width: 768px;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

.operation_heading, .eatery_heading {
  padding-bottom: 26px;
}

.operation {
  padding: 48px 20px 68px 20px;
}
.operation_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.eatery {
  padding: 54px 20px 66px 20px;
  background: #d1d1d1;
  display: flex;
  flex-direction: column;
}
.eatery_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.like_heart, .like_heart-solid {
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.like_heart {
  font-size: 21px;
  position: relative;
  padding-right: 27px;
}
.like_heart--padding {
  padding-right: 0;
}
.like_heart-solid {
  font-size: 21px;
  position: absolute;
  right: 40px;
  opacity: 0;
  background: linear-gradient(200.64deg, hsl(267, 66%, 60%) -5.2%, hsl(317, 100%, 74%) 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.like_heart-solid--right {
  right: 25px;
}
.like_heart-solid:hover {
  opacity: 1;
}

.eatery-menu-img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.card {
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 16px;
  transition: 0.3s;
  height: 251px;
  border-radius: 15px;
  position: relative;
}
.card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 70%;
}
.card_content {
  padding: 10px 25px 10px 10px;
}
.card_byline {
  font-weight: 300;
  font-size: 17px;
}

.label-new {
  position: absolute;
  right: 3%;
  top: 5%;
  z-index: 1;
  display: inline-block;
  background: hsl(165, 56%, 74%);
  color: #008563;
  padding: 7px 9px 6px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 14px;
}

.submit {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 13px 16px;
  color: white;
  background: linear-gradient(200.64deg, hsl(267, 66%, 60%) -5.2%, hsl(317, 100%, 74%) 110.74%);
  cursor: pointer;
}
.submit:hover {
  background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15)), linear-gradient(200.64deg, hsl(267, 66%, 60%) -5.2%, hsl(317, 100%, 74%) 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border: none;
  font-size: 16px;
}

.operation_btn {
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 16px;
  border-radius: 20px;
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 28px 0px 28px 13px;
  margin: 0px 0px 0px 10px;
  counter-increment: selection;
  gap: 10%;
}
.operation_btn > i {
  padding-left: 5%;
  color: #7d7d7d;
}
.operation_btn::before {
  content: counter(selection);
  padding: 4px 8px;
  margin-right: 8px;
  background: hsl(267, 66%, 60%);
  border-radius: 50px;
  font-size: 14px;
  color: white;
  position: absolute;
  left: -10px;
}
.operation_btn:hover {
  background: #f4ebff;
}
.operation_btn:hover > i {
  color: hsl(267, 66%, 60%);
}

.dish_check {
  transition: transform 500ms 100ms ease-in-out;
  transform: translate(102%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(165, 56%, 74%);
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  height: 69px;
  width: 59px;
  right: 0;
  bottom: 81px;
  margin-bottom: -81px;
}
.dish_check--icon {
  border-radius: 50%;
  color: hsl(165, 56%, 74%);
  padding: 2px 3px;
  background-color: white;
}

.footer {
  background: #363636;
  padding: 22px 25px;
}
.footer, .footer a {
  color: white;
}
.footer_position {
  position: relative;
  top: -40px;
}
.footer_heading {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 6px;
}
.footer li {
  padding-top: 10px;
}
.footer_list {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.footer_icon-one {
  font-size: 16px;
  padding-right: 10px;
}
.footer_icon-two {
  font-size: 13px;
  padding-right: 8px;
}

.eatery-menu {
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -40px;
  padding: 32px 13px 40px 13px;
  background-color: #f7f7f7;
  height: auto;
}
.eatery-menu_leading {
  font-family: "Shrikhand";
  font-size: 28px;
  color: #0f0f0f;
  padding-left: 4px;
}
.eatery-menu_flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.eatery-menu_part {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 6px;
  margin-bottom: 12px;
  margin-top: 40px;
}
.eatery-menu_part--border {
  border-bottom: 3px solid hsl(165, 56%, 74%);
  width: 40px;
}

.dish_title {
  background: white;
  padding-left: 15px;
  padding-right: 13.5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 16px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  height: 69px;
  overflow: hidden;
}
.dish_title:hover .dish_title--fontweight {
  transform: translateX(-74px);
}
.dish_title:hover .dish_check {
  transform: translateX(0);
}
.dish_title--police {
  font-weight: 500;
  font-size: 18px;
  padding-top: 12px;
}
.dish_title--police, .dish_title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish_title--direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
  font-size: 15px;
  padding-top: 5px;
}
.dish_title--fontweight {
  font-weight: 700;
  padding-left: 20px;
  transition: transform 500ms 100ms ease-in-out;
  transform: translateX(0);
}

/*# sourceMappingURL=style.css.map */
