.operation_heading , .eatery_heading{
    padding-bottom: toRem(26);
}
.operation{
    padding:toRem(48) toRem(20) toRem(68) toRem(20);
    &_list{
        @include flex-direction;
            gap:toRem(25);
            width: 100%;
        @include desktop{
            flex-direction: row;
        }
    }
}

.eatery{
    padding:toRem(54) toRem(20) toRem(66) toRem(20);
    background:$lighter-bg;
    & a {
       @include desktop{
            width: 45%;
       } 
    }
    &_cards {
        @include flex-direction;
            gap:toRem(20);
        @include desktop{
            @include flex-direction($direction:row, $justify-c:space-between);
                flex-wrap: wrap;
                gap:toRem(50);
        }
    } 
}    
.operation , .eatery{
    @include flex-direction;
    @include desktop{
        align-items: center;  
    }
}

.width-max{
    @include desktop{
        width: min(toRem(1055), 100%);
    }
}