.operation{
    padding:48px 20px 68px 20px;
    height: 440px;
    .operation_heading{
        margin: 0;
    }
    .operation_list{
     @include flex-direction($justify-content:space-around);
     height: 90%;
     padding: 0;
    }
    .operation_list>li{
           @include flex-direction($direction:row, $align-i:center);
	       @include list($padding:28px 0px  28px 13px, $margin:0px 0px 0px 10px );
	       counter-increment: selection;
           gap:10%;
           &::before {
                content: counter(selection); 
                padding:4px 8px ;
                margin-right: 8px;
                background:$primary; 
                border-radius: 50px;
                font-size:$font-size - 2px;
                color :white;
                position: absolute;
                left:-10px;		
            }
    }        
    .operation_btn>i{
        padding-left:5% ;
        color:$dark-bg;   
    }          
}


