// ***** Animation ***** //

// Successive appearance of menus //
@keyframes progress-dish{
    from{
        transform:scaleX(0) ;
        opacity:.1 ;
    }
    to{
        opacity: 1;
        transform:scaleX(1);
    }
}

// Appearance of the stroke and the background of the "ohmyfood" svg //
@keyframes svg{
    to{
        stroke-dashoffset:0 ;
        fill-opacity:1 ;
    }
}

// Loader rotation //
@keyframes rotate {
    from{
        transform: rotate(0deg);    
    }
    to{
        transform: rotate(360deg);    
    }    
}

// Disappearance of the loader //
@keyframes scale{
    from{
        transform: scale(1);      
    }
    to{    
        transform: scale(0);
    }    
}


