
@mixin box-shadow($offset-x: 0px, $offset-y: 4px,  $blur:15px ,$color:rgba(0, 0, 0, 0.15) ,$font:$font-size){
    box-shadow:$offset-x $offset-y $blur $color ;
    border:none;
    font-size: $font;
    @debug'valeur de shadow:#{$offset-x $offset-y $blur $color}';
}
@mixin flex-direction($direction:column, $justify-c:null, $align-c:null , $align-i:null ){
    display:flex;
    flex-direction:$direction;
    justify-content:$justify-c;
    align-content:$align-c;
    align-items:$align-i;
}
@mixin link($color:$black){
    color:$color;
    text-decoration: none;	   
}

@mixin list($padding:0px 0px 0px 0px , $margin:0px 0px 0px 0px){
    list-style-type: none;
    padding:$padding;
    margin:$margin;
}
@mixin heart($pos:relative, $f-s:$font-size + 5px){
    font-size:$f-s;
    position:$pos;    
}

@mixin img($object-fit:cover ,$width:100% ,$height:70%){
    object-fit:$object-fit;
    width:$width;
    height:$height;
}


// Media queries//
@mixin desktop{
    @media #{$breakpoints}{
        @content;
    }
} 