
@mixin box-shadow($offset-x: 0px, $offset-y: 4px,  $blur:15px ,$color:rgba(0, 0, 0, 0.15) ,$font:$font-size){
    box-shadow:$offset-x $offset-y $blur $color ;
    border:none;
    font-size: $font;
    @debug'valeur de shadow:#{$offset-x $offset-y $blur $color}';
}
@mixin flex-direction($display:flex ,$direction:column){
    display:$display;
    flex-direction:$direction;
}
@mixin link($color:black){
    color:$color;
    text-decoration: none;	   
}

@mixin list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}