
@mixin box-shadow($offset-x: 0px, $offset-y: 4px,  $blur:15px ,$color:rgba(0, 0, 0, 0.15) ,$font:$font-size){
    box-shadow:$offset-x $offset-y $blur $color ;
    border:none;
    font-size: $font;
    @debug'valeur de shadow:#{$offset-x $offset-y $blur $color}';
}
@mixin flex-direction($direction:column, $justify-content:null, $align-c:null , $align-i:null ){
    display:flex;
    flex-direction:$direction;
    justify-content:$justify-content;
    align-content:$align-c;
    align-items:$align-i;
}
@mixin link($color:black){
    color:$color;
    text-decoration: none;	   
}

@mixin list($padding:0px 0px 0px 0px , $margin:0px 0px 0px 0px){
    list-style-type: none;
    padding:$padding;
    margin:$margin;
}