$primary: #9356dc;
$secondary:#ff79da;
$tertiary: #99E2D0;
$greenfont:#008766;
$beige:#F6F6F6;
$lightgrey: #EAEAEA;
$mediumgrey:#7E7E7E;
$grey: #353535;
$buttongradient:linear-gradient(200.64deg, $primary -5.2%, $secondary 110.74%);

$font-size:20px;
