$primary: hsl(267, 66%, 60%);
$light-primary:hsl(282, 77%, 64%);
$filters-hover:adjust-color($color:$primary, $saturation: 34%, $lightness: 36%);
$secondary:hsl(317, 100%, 74%);
$light-secondary:hsl(317, 85%, 81%);
$tertiary: hsl(165, 56%, 74%);
$dark-tertiary:adjust-color($color:$tertiary, $saturation: 44%, $lightness: - 48%);


//Couleur intermediaire entre le blanc et le noir pour créer un nuancier de gris//
$base-color: hsla(0, 0%, 50%);

$white:lighten($base-color, 50);
$lighter-bg:lighten($base-color,47);
$light-bg:lighten($base-color,42);
$bg:lighten($base-color,32);
  
$dark-bg:darken($base-color,1);
$darker-bg:darken($base-color,29);
$light-black:darken($base-color,44);
$black:darken($base-color,50);

// Couleur du dégradé du bouton submit //
$submit-color:linear-gradient(200.64deg, $primary -5.2%, $secondary 110.74%);
$submit-color-hover:linear-gradient(0deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15)),
                    $submit-color;


// Variables pour le responsive //
$screen-large:"only screen and (min-width:768.1px)";
$breakpoints:$screen-large;
                    

