.footer{
    background: $darker-bg;
    padding:toRem(22) toRem(25);
    @include desktop{
        @include flex-direction($direction:row-reverse, $align-i:center);
        padding:toRem(64) toRem(57) toRem(30);
    }
    & , a{
        color:$white ;
    }
    &_heading{
        font-family:'Shrikhand'; 
        font-size:toRem(18);
        font-weight: 400;
        padding-bottom: toRem(6);
        @include desktop{
            padding-bottom: 0;
            padding-left:toRem(50) ;
        }
    }
    & li{
        padding-top:toRem(10) ;
        @include desktop{
            padding-top:0;
            &:nth-last-child(2){
                margin-left: toRem(30);
            }   

        }  
    }
    &_list{
        @include list;
        @include desktop{
            @include flex-direction($direction:row ,$justify-c:flex-end);
            flex-wrap:wrap ;
            gap: toRem(10);
        }   
    }
    &_icon-one{
        padding-right:toRem(10);
    }
    &_icon-two{
        font-size:toRem(13);
        padding-right:toRem(8) ;    
    }       
}
