.form{
    background:$lighter-bg;
    padding-bottom:toRem(57) ;
    text-align: center;
    &_field{
        @include flex-direction($direction:row, $justify-c:center, $align-i:center);
        color:$darker-bg ;
        background:$light-bg;
        width: 100%;
        &-search{
            font-size:toRem(16) ;
            border:none;
            padding:toRem(13) 0 toRem(13) 0;
            outline: none;
            background: fixed;
            text-align: center;
        }    
    }
    &_heading{
        font-size:toRem(24);
        @include desktop{
            font-size:toRem(40);
        }
        padding:toRem(39.5) toRem(39.5) toRem(10);
    }
    &_byline{
        font-weight:300 ;
        font-size:toRem(18);
        padding-bottom:toRem(27) ;
    }  
}

.form_submit{
    @include flex-direction($direction:row, $justify-c:center);
    width: 100%;
    text-align: center;
    padding-top:toRem(40) ;
    .submit_size{
        width:toRem(186) ;
    }    
}