.header{
    padding-top:toRem(14) ;
    padding-bottom:toRem(5);
    text-align:center;
    z-index: 1;
    position:relative;
    @include box-shadow($offset-y:toRem(2),$blur:toRem(4),$color:rgba(0, 0, 0, 0.15));
    @include desktop{
        padding-top:toRem(30) ;
        padding-bottom:toRem(20);
    }
    &_heading{
        display:inline-flex;
        width:toRem(162); 
        height:toRem(44);
        @include desktop{
            width: toRem(200);
            height: toRem(34.2);
        }   
    }
}