.header{
    padding-top:14px ;
    padding-bottom: 5px;
    text-align: center;
    z-index: 1;
    @include box-shadow($offset-y:2px,$blur:4px,$color:rgba(0, 0, 0, 0.15));
    
    .header_heading{
        display: inline-flex;
        width: 162px; 
        height: 44px; 
       
    }
}