.eatery-menu{
    border-radius: toRem(40) toRem(40) 0 0;
    position: relative;
    margin-top:toRem(- 40);
    padding:toRem(32) toRem(13) toRem(40) toRem(13);
    background-color:$lighter-bg;
    height: auto;
    overflow: hidden;
    width: 100%;
    @include desktop{
        max-width:toRem(1055);
        @include flex-direction($align-i:center);
    }
    &_leading{
        font-family: 'Shrikhand';
        font-size:toRem(28);
        color:$light-black;
        padding-left:toRem(4);
    }
    &_flex{
        @include flex-direction;
            gap:toRem(12) ;
        @include desktop{
            width:min(toRem(634), 100%) ;
        }
    }
    &_part{
        font-weight: 300;
        font-size:toRem(16);
        text-transform: uppercase;
        padding-bottom:toRem(6);
        margin-bottom:toRem(12);
        margin-top:toRem(40);
        &--border{
            border-bottom:toRem(3) solid $tertiary;
            width:toRem(40);
        }
    }    
    
} 
